@model ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
	<div style="margin:auto; width:980px;">
		<textarea asp-for="HtmlEditorContent" rows="20"></textarea>
	</div>
	<input type="submit" value="送出">
</form>
