@{
    Layout = null;
}

<form method="post" enctype="multipart/form-data">
    <div>
        <div>
            附檔名限制
            <span style="color: red;"> .jpg、.jpeg、.png、.bmp、.gif</span>
        </div>
        <div>
            <input type="file"
                   name="uploadFile" />
        </div>
        <div>
            <input type="submit"
                   value="確定" />
        </div>
    </div>
</form>
